{{ define "main" }}

<header class="site-header">
  <p class="site-bio">{{ .Site.Params.bio }}</p>
  <nav class="site-nav">
    <a href="{{ .Site.BaseURL }}">archive</a>
    <a href="{{ .Site.BaseURL }}about/">about</a>
    <a href="{{ .Site.BaseURL }}index.xml">rss</a>
  </nav>
</header>

{{ range (where .Site.RegularPages "Section" "posts").ByDate.Reverse }}
<div class="post-item">
  <div class="post-head"><a href="{{ .Permalink }}">{{ .Date.Format "January 2, 2006" }} — {{ .Title }}</a></div>
  <div class="post-excerpt">{{ .Summary }}</div>
</div>
{{ end }}

{{ end }}
