{{ define "main" }}

<header class="site-header">
  <p class="site-bio"><a href="{{ .Site.BaseURL }}">{{ .Site.Params.bio }}</a></p>
  <nav class="site-nav">
    <a href="{{ .Site.BaseURL }}">archive</a>
    <a href="{{ .Site.BaseURL }}brevis/">brevis</a>
    <a href="{{ .Site.BaseURL }}about/">about</a>
    <a href="{{ .Site.BaseURL }}index.xml">rss</a>
  </nav>
</header>

{{ range .Pages.ByDate.Reverse }}
<div class="brevis-item">
  <div class="brevis-text">{{ .Content }}</div>
  <div class="brevis-time"><a href="{{ .Permalink }}">{{ .Date.Format "Jan 2, 2006 3:04 PM" }}</a></div>
</div>
{{ end }}

{{ end }}
