{{ $links := (where .Site.RegularPages "Section" "links").ByDate.Reverse }}
{{ if $links }}
<aside class="site-links">
  {{ range $links }}
  <div class="links-item">
    <a class="links-title" href="{{ .Params.link }}" target="_blank" rel="noopener">{{ .Title }}</a>
    <div class="links-time">{{ .Date.Format "Jan 2, 2006" }}</div>
    {{ if .Content }}
    <div class="links-comment"><a href="{{ .Permalink }}">{{ .Content | plainify | truncate 80 }}</a></div>
    {{ end }}
  </div>
  {{ end }}
</aside>
{{ end }}
